@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.mainContainer {
    font-family: 'Roboto';
    width: 336px;
    min-height: 236px;
    max-height: 600px;
    margin: 0 auto;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    box-sizing: border-box;
}
.yellHeader {
    background-color: #FFDC40;
    border-radius: 9px 9px 0 0;
    width: 334px;
    height: 28px;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}
.sort {
    margin-left: auto;
    margin-right: 35px;
    width: 25px;
    height: 15px;
}
.addTask {
    width: 286px;
    height: 40px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    margin: 10px 20px auto;
    position: relative;
}
.tasks {
    display: none;
    width: 288px;
    max-height: 330px;
    border: 1px solid #C4C4C4;
    margin: 20px auto 20px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}
.task {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    padding: 12px 0 12px 27px;
}
.task span {
    display: block;
    width: 180px;
    word-break: break-all;
}
.X {
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 30px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #C4C4C4;
    color: #C4C4C4;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-weight: 300;
}
.textX {
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 30px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #C4C4C4;
    color: #C4C4C4;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-weight: 300;
}
.addTaskButton {
    cursor: pointer;
    margin: 20px auto;
    width: 150px;
    height: 42px;
    background-color: #833AE0;
    border-radius: 71px;
    color: white;
    display: flex;
}
.plus {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #9953F1;
    border-radius: 71px;
}
.plusWord {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: auto;
}
.add {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 12px;
}
input {
    width: 230px;
    height: 38px;
    border: none;
    border-radius: 10px;
}
input:focus {
    outline: none;
}
.X:hover {
    background-color: #833AE0;
}
.textX:hover {
    background-color: #833AE0;
}
.sortUp {
    cursor: pointer;
    width: 25px;
    height: 15px;
    background: url(icons/GrayUp.svg) no-repeat;
}
.sortUp:hover {
    background: url(icons/BlackUp.svg) no-repeat;
}
.sortDown {
    cursor: pointer;
    width: 25px;
    height: 15px;
    background: url(icons/GrayDown.svg) no-repeat;
}
.sortDown:hover {
    background: url(icons/BlackDown.svg) no-repeat;
}
.error {
    display: none;
    color: red;
    font-size: 10px;
    position: absolute;
    left: 55px;
    top: 35px;
}